*{
    font-family: 'Poppins' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primario: #ffffff;
    --color-secundario: #e04fad;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}


.form-register {
    width: 400px;
    background: #e04fad;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 25px;
    font-family: 'calibri';
    color: #060606;
    
}

.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #060606;
    font-family: 'calibri';
    font-size: 18px;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.form-register .boton {
    width: 100%;
    background: #060606;
    border: none;
    padding: 12px;
    color: #e04fad;
    margin: 16px 0;
    font-size: 16px;

}

*{
    font-family: 'Poppins' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;

    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.3em;
    color: var(--color-primario);
    cursor: pointer;
}

.logo span{
    color: var(--color-secundario);
}

.menu-h{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-h > li > a{
    display: block;
    padding: 15px 15px;
    color: #e04fad;
    text-decoration: none;
}


.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 400px;
    background-color:#00000083;
}

.menu-h > li:hover{
    background-color: #ffffff;
    color: #e04fad;
}

.menu-h li:hover .menu-vertical{
    display: block;
}

.menu-vertical li a{
    display: block;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
    min-width: 400px;
}


.navegacion a{
    font-size: 1.2em;
    color: var(--color-primario);
    text-decoration: none;
    margin-right: 30px;
    font-weight: 600;

}

.navegacion a:hover{
    color: var(--color-secundario);
}

.inicio{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #060606;
    
    background-position: center;
    display: flex;
    align-items: center;
    padding: 30px 100px;
}

.photo{
    background-image: url(yo.jpg);
    width: 370px;
    height: 370px;
    border: 2px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    margin: -300px 0px 0px 800px;
    

}

.contenido{
    max-width: 500px;
    color:  var(--color-primario);
}

.contenido h2{
    font-size: 3em;
}

.contenido h2 span{
    color: var(--color-secundario);
}

.contenido p{
    padding: 10px 0 40px 0;
}

.btn-grupo a{
    color: #ffffff;
    text-decoration: none;
    padding: 10px 40px;
    background: var(--color-secundario);
    border-radius: 10px;
    border: 2px solid var(--color-secundario);
    font-weight: 600;

}

.btn-grupo a:hover:nth-child(1){
    background-color: transparent;
    color: var(--color-secundario);
}

.btn-grupo a:nth-child(2){
    color: var(--color-secundario);
    background: transparent;
    padding: 10px 30px;
}

.btn-grupo a:hover:nth-child(2){
    background-color: var(--color-secundario);
    color: #ffffff;
}


